/* =========================  MAIN CONTENT =========================*/

/* ====================== MAIN CONTENT LAYOUT (GRID ) ======================*/
/* === Tablet ===*/ 
@media only screen and (min-width: 800px){
    #main-content{
        grid-template-areas: 
            "sidebar-button intro"
            "sidebar-button projects"
            "sidebar-button blog"
            "sidebar-button contact";   
    }
}  

/* ==================== 1. SECTION ONE ====================*/
/* ==================== 1.1 INTRO ====================*/
/* === Mobile preview === */
/* === Tablet === */
#mobile-banner{
    visibility: visible;
    height: 100vh;
    background: url('../../projects/design/1806-paleo/front-external.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}    

#intro-info h2{
    border-bottom: 1px solid #B3811A;
    height: 5vh;
    max-height: 30px;
    margin: 10px 10% 0; 
}

/* === Laptop and tablet === */ 
@media only screen and (min-width: 800px) {
    #mobile-banner{
        visibility:hidden;
        height: inherit;
    }
    
    #intro-info h2{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3vh;
        max-height: none;
        margin: 0 5%; 
    }   
}

/* === Desktop === */
@media only screen and (min-width: 1600px){
    #intro-info h2{
        height: 3vh;
        margin: 2vh 1vw 0; 
    } 
}


/* ==================== 1.2 BANNER ====================*/
/* === Mobile preview === */
.aframebox{
        visibility: hidden;
    }

/* === Tablet === */
@media only screen and (min-width: 800px) {
    #banner{
        background: url('../../projects/design/1806-paleo/front-external.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }    
}

/* === Desktop === */
@media only screen and (min-width: 1024px){
    #banner{
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;  
        height: 100vh;
        border-bottom: 1px solid #B3811A;
    }

    .aframebox{
        visibility: visible;
    }
    
    #links{
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        align-content: center;
        justify-content: center;
    }
    
    .setVRimg{
        display: block;
        width: 75px;
        height: 75px;
        box-sizing: border-box;
        margin: 0 1vw;
        background: black;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid #111E2B;
        z-index: 1;
        opacity: 0.75;
        filter: grayscale(50%);
    }
    
    .setVRimg:focus{
        border: 4px solid #B3811A;
        outline-width: 0;
        opacity: 1;
        filter: grayscale(0%);
    }
    
    .setVRimg:nth-child(1) {
        background-image: url('../../projects/design/1806-paleo/preparation.jpg')}
    .setVRimg:nth-child(2) {
        background-image: url('../../projects/design/1806-paleo/collection.jpg')} 
}

/* === 2K+ Wide Desktop  ===*/ 
@media only screen and (min-width: 2600px){
    #links{
        height: 200px;
    }
    
    .setVRimg{
        transform: scale(2);
        margin: 0 2vw;
    }
}

/* ==================== 2. SECTION TWO ====================*/
/* ==================== 2.1 PROJECTS ====================*/
/* === Mobile preview === */
#projects .tab a  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    max-height: 30px;
    margin: 10px 10% 0;
    border: 1px solid #B3811A;
    background-color: rgba(17,30,43,0.5);
    -webkit-transition: 0.2s; /* Chrome, Safari */
    -moz-transition: 0.2s; /* Firefox */
    -o-transition: 0.2s; /* Opera */
    transition: 0.2s;
    } 

#projects .tab a:hover {
    background-color: #B3811A;
    }

#projects .sub-title {
    border-bottom: none;
    } 

#projects .tab a .icon-small {
        margin: 0 2.5%;
    }

.tab:nth-child(1) a .icon-small{
    background-size: 80%;
    background-image: url('../../assets/images/ArchIcon.png')}
.tab:nth-child(2) a .icon-small{
    background-image: url('../../assets/images/RenderIcon.png')}
.tab:nth-child(3) a .icon-small{
    background-image: url('../../assets/images/DigitalIcon.png')}

#projects .button-read-more{
    display: none;
}


/* === Tablet === */
@media only screen and (min-width: 800px) {
    #projects .tab a  { 
        height: 3vh;
        margin: 0 5%;
    }
    
    #projects .tab a .icon-small {
        margin: 0 2.5%;
        width: 15px;
        height: 15px;
    }
    
    #projects .button-read-more{
        display: block;
    }
}

/* === Desktop === */
@media only screen and (min-width: 1600px){
    #projects .tab a  { 
        height: 3vh;
        max-height: none;
        margin: 5% 5% 0;
    }
    
    #projects .tab a:active {
        margin: 5% 15% 0;
    }
    
    #projects .tab a .icon-small {
        margin: 0 2.5%;
        width: 1vw;
        height: 1vw;
    }
}

/* ==================== 2.2 PROJECTS GALLERY ====================*/
/* === Mobile preview === */
#gallery{
    display: grid;
    grid-template-rows: repeat(4, 25vh);
    grid-gap: 10px;
    position: relative;
    margin: 5% 10px;
}

.project-thumbnail{
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    position: relative;
    content: '';
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 125px rgba(17,30,43,0.85);
    z-index: 1;
}

.thumbnail-img{
    flex: 1;
    height: 100%;
}

.project-thumbnail .invisible-link{
    position:absolute;
    width:100%;
    bottom:0;
    text-decoration: none;
    z-index: 2;
    color: #F5F9FC;
    opacity: 1;
    background-color: rgba(179,129,26,0.8);
}

.project-thumbnail:nth-child(1)  {background-image: url('../../projects/visuals/1412-pompilio/pompilio.png');}
.project-thumbnail:nth-child(2)  {background-image: url('../../projects/design/1601-tiny-homes/th-kitchen.jpg');}
.project-thumbnail:nth-child(3)  {background-image: url('../../projects/coding/1505-kartal/extrude-proximity.jpg');}
.project-thumbnail:nth-child(4)  {background-image: url('../../projects/design/1806-paleo/preparation.jpg');}

#gallery .button-read-more{
    display: block;
}


/* === Tablet === */
@media only screen and (min-width: 800px){
    #gallery{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        margin: 50px 10px 10px 10px;
    } 
    
    #gallery .project-thumbnail{
        border: 1px solid #B3811A;
    }
    
    .project-thumbnail:nth-child(1), .project-thumbnail:nth-child(4){
        grid-row: span 1;
        grid-column: span 2; 
    }
    
    .project-thumbnail:nth-child(2), .project-thumbnail:nth-child(3){
        grid-row: span 1;
        grid-column: span 1; 
    } 
    
    #gallery .button-read-more{
        display: none;
    }
}
/* === Desktop === */
@media only screen and (min-width: 1600px){
    #gallery{
        grid-gap: 1vw;
        margin: 5vw 2vw 2.5vw;
        
    }

    .project-thumbnail:hover{
        background-color: rgba(179,129,26,1.0);
        background-blend-mode: soft-light;
    }
    
    .project-thumbnail .thumbnail-img{
        -webkit-transition: 0.35s ease-in-out; /* Chrome, Safari */
        -moz-transition: 0.35s ease-in-out; /* Firefox */
        -o-transition: 0.35s ease-in-out; /* Opera */
        transition: 0.35s ease-in-out;
    }

    .project-thumbnail:hover .thumbnail-img{
        filter: blur(3px);
        -webkit-transform: scale(1.05); /* Chrome, Safari */
        -moz-transform: scale(1.05); /* Firefox */
        -o-transform: scale(1.05); /* Opera */
        transform: scale(1.05);
    }

    .project-thumbnail .invisible-link{
        bottom: inherit;
        text-decoration: none;
        z-index: 2;
        opacity: 0;
        background-color: transparent;
        -webkit-transition: 0.35s ease-in-out; /* Chrome, Safari */
        -moz-transition: 0.35s ease-in-out; /* Firefox */
        -o-transition: 0.35s ease-in-out; /* Opera */
        transition: 0.35s ease-in-out;
    }

    .project-thumbnail:hover .invisible-link{
        opacity: 1;
    }
}

/* ==================== 3. SECTION THREE ====================*/
/* ==================== 3.1 BLOG ====================*/
/* === Mobile preview === */
#blog{
    position: relative;
}

#blog .button-read-more{
    display: none;
}

/* === Tablet === */
@media only screen and (min-width: 800px) {   
    #blog .button-read-more{
        display: block;
    }   
}

/* === Desktop === */

/* ==================== 3.2 BLOG POSTS ====================*/
/* === Mobile preview === */
#blog-posts{
    position: relative;
    background-color: #F5F9FC;
}

.blog-img-container{
    height: 25vh;
    max-height: 225px;
    content: '';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid #F5F9FC;
    border-bottom: 1px solid #F5F9FC;
}

#post01 .blog-img-container {background-image: url('../../projects/visuals/1412-pompilio/pompilio.png');}

#post02 .blog-img-container {background-image: url('../../projects/design/1601-tiny-homes/th-kitchen.jpg');}

#post03 .blog-img-container {background-image: url('../../projects/coding/1505-kartal/extrude-proximity.jpg');}

#post04 .blog-img-container {background-image: url('../../projects/design/1806-paleo/preparation.jpg');}

#blog-posts .sub-title {
    color: #111E2B;
    line-height: 1.25em;
    text-align: center;
    margin: 2vh 10%;
    border: none;
}

#blog-posts .today{
    margin: 0 25%;
}

#blog-posts .body-text {
    color: #111E2B;
    margin: 1vh 0;
}

.cite{
    display: none;
}

#blog-posts .button-read-more{
    display: block;
}

#blog-posts article .button-read-more{
    display: block;
    background-color: rgba(179,129,26,0.75);
}

/* === Tablet === */
@media only screen and (min-width: 550px) and (max-width: 799px) {
    #blog-posts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        position: relative;
    }
    
    .post{
        grid-column: span 1; 
    }
    
    #blog-posts .button-read-more{
        grid-column: span 2; 
    }
}

/* === Laptop and Tablet === */
@media only screen and (min-width: 800px) {
    #blog-posts{
        display: flex;
        margin: 10vh 10px;
        height: 80vh;
        min-height: 375px;
        max-height: 650px;
        justify-content: space-between;
        background-color: inherit;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0;
    }
    
    .post{
        flex-basis: 220px;
        height: 100%;
        box-sizing: border-box;
        background-color: rgba(244,248,253,0.25);
        position: relative;
        border: 1px solid #B3811A;
    }
    
    .blog-img-container{
        border: none;
        border-bottom: 1px solid #B3811A;
        box-shadow: inset 0 0 50px rgba(17,30,43,0.4);
    }
 
    #blog-posts .sub-title {
        margin: 2.5vh 5%;
    }
    
    #blog-posts .body-text {
        margin: 2.5vh 0;
    }
    
    #blog-posts .button-read-more{
        display: none;
    }
    
    #blog-posts article .button-read-more{
        display: block;
    }  
}

/* === Desktop === */
@media only screen and (min-width: 1600px){
    #blog-posts{
        justify-content: space-between;
        margin: calc((100vh - 75vh) / 2) 2vw;
        max-height: 75vh;
    }
    
    .post{
        flex-basis: 20vw;
        overflow: hidden; 
        -webkit-transition: 0.5s ease-in-out; /* Chrome, Safari */
        -moz-transition: 0.5s ease-in-out; /* Firefox */
        -o-transition: 0.5s ease-in-out; /* Opera */
        transition: 0.5s ease-in-out;
    }
    
    .post:hover{
        transition: .35s ease-in-out;
        background-color: rgba(244,248,253,1);  
    }
     
    .blog-img-container{
        height: 25vh;
        max-height: none;
        box-shadow: inset 0 0 75px rgba(17,30,43,0.75);
        -webkit-transition: 0.2s ease-in-out; /* Chrome, Safari */
        -moz-transition: 0.2s ease-in-out; /* Firefox */
        -o-transition: 0.2s ease-in-out; /* Opera */
        transition: 0.2s ease-in-out;
        -webkit-filter: grayscale(50%);
        filter: grayscale(50%);
    }
    
    .post:hover .blog-img-container{
        -webkit-filter: grayscale(0%); /* Chrome, Safari */
        filter: grayscale(0%);
    }
    
    #blog-posts .body-text {
        margin: 5% ;
    }
    
    .cite{
        display: block;
    }

    #blog-posts article .button-read-more:hover{
        background-color:  #B3811A;
    }
}

/* ==================== 4. SECTION FOUR ====================*/
/* ==================== 4.1 CONTACT ME ====================*/
/* === Mobile preview === */
/* === Tablet === */
/* === Desktop === */


/* ==================== 4.2 CONTENT - GENERAL & CONTACT FORM ====================*/
/* === Mobile preview === */
#contact-details{
    position: relative;
    padding: 5% 0 0 0;
}

/*
#contactCode {
    font-size: 11pt;
    font-weight: 400;
    line-height: 14pt;
    text-align: left;
    padding: 5% 25%;
    margin: 0 auto;
}

#contactCode span:nth-child(2), #contactCode span:nth-child(3){
    margin: 5%;
}
    
#contactCode span:nth-child(4), #contactCode span:nth-child(5){
    margin: 15%;
}
*/

#contact-details .name {
    padding: 40px 0 10px;
}

input, textarea{
    display: block;
    width: calc(85% - 50px);
    padding: 5px 10px;
    margin: 40px auto ;
    border-bottom: 1px solid #F5F9FC;
    text-align: center;
    color: #F5F9FC;
    background-color: transparent;
    -webkit-transition: 0.5s; /* Chrome, Safari */
    -moz-transition: 0.5s; /* Firefox */
    -o-transition: 0.5s; /* Opera */
    transition: 0.5s;
}

input:focus, textarea:focus{
    border-bottom: 3px solid #F5F9FC;
    background-color: rgba(245,249,252,0.05);        
}
   
textarea{
    resize: none;
    text-align: left;
    max-width: calc(100% - 50px);
    height: 250px;
    min-height: 50px;  
}

#contact-details .button-read-more{
    background-color: rgba(179,129,26,0.75);
}

/* === Tablet === */
@media only screen and (min-width: 800px) {
    #contact-details{
        display: flex;
        margin: 10vh 10px;
        height: 80vh;
        min-height: 375px;
        max-height: 650px;
        justify-content: space-between;
        background-color: inherit;
        flex-wrap: wrap;
        overflow: hidden;
        padding: 0;
    }
    
/*
    #contactCode {
        font-size: 0.75em;
        font-weight: 600;
        line-height: 1.75em;
        text-transform: none;
        padding: 5% 20% 10%;
        margin: 0 auto;
    } 
*/
 
    .contactTab{
        flex-basis: 220px;
        height: 100%;
        box-sizing: border-box;
        background-color: rgba(17,30,43,0.9);
        position: relative;
        border: 1px solid #B3811A;
    }
    
    #contact-form{
        /* Double tab */
        flex-basis: calc((100% + 220px) / 2); /* 220px as per default value above */
    }
    
    input, textarea{
        width: calc(60% - 50px);
        margin: 2.5vh auto ;
    }
    
    textarea{
        height: 30vh;
    }
    
    input:focus{
        width: calc(75% - 1vw);       
    }
    
    textarea:focus{
        width: calc(100% - 1vw);
    }
    
    #contact-details .body-text {
        margin: 5% 5% 0 5% ;
    }
}

/* === Desktop === */
@media only screen and (min-width: 1600px){
    #contact-details{
        margin: calc((100vh - 75vh) / 2) 2vw;
        max-height: 75vh;
    }
    
/*
    #contactCode {
        font-size: 1.2em;
        line-height: 2em;
        padding: 5% 10% 10%;
    } 
*/
     
    .contactTab{
        flex-basis: 20vw; 
        overflow: hidden; 
        position: relative;
        background-color: rgba(17,30,43,0.6);
        -webkit-transition: 0.75s ; /* Chrome, Safari */
        -moz-transition: 0.75s ; /* Firefox */
        -o-transition: 0.75s ; /* Opera */
        transition: 0.75s ;
    }
    
    #contact-form{
        /* Double tab */
        flex-basis: calc((100% + 20vw) / 2); /* 20vw as per default value above */
    }
    
    .contactTab:hover{
        background-color: rgba(17,30,43,0.9);  
    }
    

    #contact-details .name {
        padding: 4vh 0;
    }
    
    input, textarea{
        margin: 1vw auto ;
    }
    
    textarea{
        height: 100%;
        max-height: 37.5vh;
    }
    
    #contact-details .button-read-more:hover{
        background-color:  #B3811A;
    }
     
}

/* === 2K+ Wide Desktop === */
@media only screen and (min-width: 2600px){
    input:focus{
        width: calc(75% - 5vw);       
    }
    
    textarea:focus{
        width: calc(100% - 5vw);
    }
}

/* ==================== 4.2.2 CONTENT - FOLLOW ME ====================*/
/* === Mobile ===*/
    #follow-me-tab-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 10%; 
        height: 450px;
    }
    
    #follow-me-tab-wrapper a{
        display: flex;
        width: 100%;
        height: 50px;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: rgba(17,30,43,0.6);
        border: 1px solid #B3811A;
        -webkit-transition: .25s ease-in-out; /* Chrome, Safari */
        -moz-transition: .25s ease-in-out; /*  Firefox */
        -o-transition: .25s ease-in-out; /*  Opera */
        transition: .25s ease-in-out;
        overflow: hidden;
    }
    
    #follow-me-tab-wrapper a:hover{
        background-color: #B3811A;
    }
    
    #follow-me-tab-wrapper a .icon-large{
        position: absolute;
        left: 0;
    }  
    
    #follow-me-tab-wrapper a:nth-child(1) .icon-large{
        background-image: url('../../assets/images/FacebookIcon.png')}
    #follow-me-tab-wrapper a:nth-child(2) .icon-large{
        background-image: url('../../assets/images/LinkedinIcon.png')}
    #follow-me-tab-wrapper a:nth-child(3) .icon-large{
        background-image: url('../../assets/images/WordpressIcon.png')}
    #follow-me-tab-wrapper a:nth-child(4) .icon-large{
        background-image: url('../../assets/images/PinterestIcon.png')}
    #follow-me-tab-wrapper a:nth-child(5) .icon-large{
        background-image: url('../../assets/images/GitHubIcon.png')}
    #follow-me-tab-wrapper a:nth-child(6) .icon-large{
        background-image: url('../../assets/images/GrasshoopperIcon.png')}

/* === Laptop and tablet === */
@media only screen and (min-width: 800px) {
    #follow-me-tab-wrapper {
        height: 60vh;
        max-height: 65%;
        margin: 1vh 5%;
    }
    
    #follow-me-tab-wrapper a{
        height: 5vh;
    }
}

/* === Desktop === */
@media only screen and (min-width: 1600px){
    #follow-me-tab-wrapper {
        margin: 2.5vh 5% 5vh;
    }
    
    #follow-me-tab-wrapper a .icon-large{
        left: 0.5vw; 
    } 
}
    
/* === 2K+ Wide Desktop === */
/*
@media only screen and (min-width: 2600px){
    #contactTab2{
        max-height: 75%;  override the default 100%
    }
    
    #follow-me-tab-wrapper {
        height: 75vh;
        max-height: 75%;
        margin: 25px 5% 50px;
    }
    
    #follow-me-tab-wrapper a{
        max-height: 100px;
    }
}
*/

